<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">Home</a>
      {{#link-to "blogs.create" class="blog-nav-item"}}New Post{{/link-to}}
    </nav>
  </div>
</div>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Epic Example Blog</h1>
    <p class="lead blog-description">pithy expression as a subtitle</p>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      {{outlet}}
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit nunc erat, eget faucibus dolor posuere sit amet.</p>
      </div>
    </div>
  </div>
</div>
