<h1 class="page-header">
  Things
  {{#link-to "things.create" class=""}}
    <i class="glyphicon glyphicon-plus"></i>
  {{/link-to}}
</h1>
{{outlet}}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {{#each thing in controller}}
    <tr>
      <td>{{thing.id}}</td>
      <td>{{thing.name}}</td>
      <td>{{#link-to "thing" thing }} Show {{/link-to}} </td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>
